body {
    background-color: rgb(29, 29, 29);
    height: 100vh;

}

.col-content {

    width: 85%;
    margin: 0;
    border-radius: 0 8px 8px 0;
}

.col-bar {
    width: 15%;
    margin: 0px;
    border-radius: 8px 0 0 8px;
}

.card {
    display: flex;
    background-color: rgb(18, 19, 20);
    justify-content: center;
    height: 580px;
    width: 450px;
    border-radius: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.select-token {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
    width: 80%;
    margin-left: 10%;
}

.custom-select-token {
    color: aliceblue;
    border-radius: 50px;
    width: 100%;
    background-color: rgb(18, 19, 20);
    padding: 15px 15px;

}

.nav-link {
    color: rgb(156, 161, 175) !important;
    display: flex;
    align-items: center;
    width: 100%;
}



li .active {
    background-color: rgb(18, 19, 20) !important;
    color: rgb(139, 153, 255) !important;
    font-size: 20px;
    padding: 0px 0 0 10px!important;
    height: 100%;
}

.nav-arrow {
    display: none;
    vertical-align: middle;
    margin-left: 12px;
    fill: rgb(139, 153, 255) !important;
    height: 20px!important;
    width: 20px!important;
}

.active .nav-arrow {
    display: inline;
    border-right: 1px solid rgb(139, 153, 255);
    margin-right: 0px;
}

.nav-item {
    margin: 10px 0px !important;
    height: 40px;
    width:100%;
}


.active svg {
    width: 40px !important;
    fill: rgb(139, 153, 255) !important;
    margin-right: 10px;
}

.col-bar .nav-link svg {
    width: 18px;
    height: auto;
    margin-right: 5px;
    fill: rgb(156, 161, 175);
    /* 统一设置SVG颜色 */

}

.search-bar {
    background-color: rgb(18, 19, 20);
    border: 1px solid rgb(27, 28, 31);
    color: white;
}

.search-bar::placeholder {
    color: white;
}

.search-wrapper svg {
    position: absolute;
    margin-left: 15px;
    margin-top: 12px;
    pointer-events: none;
}

.search-wrapper input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 8px 8px 8px 40px;
    font-size: 15px;

}

.search-bar {
    outline: none;
}

.search-bar:focus {
    border-color: rgb(58, 146, 246) !important;
}