body {
    background-color: rgb(29, 29, 29);
    height: 100vh;

}
/* 内容栏 */
.col-content {
    width: 85%;
    border-radius: 0 8px 8px 0;
}
/* 导航栏 */
.col-bar {
    width: 15%;
    border-radius: 8px 0 0 8px;
}
/* 内容栏的SWAP */
.card {
    display: flex;
    background-color: rgb(18, 19, 20);
    justify-content: center;
    height: 580px;
    width: 450px;
    border-radius: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
}
/* select框的容器 */
.select-token {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
    width: 80%;
    margin-left: 10%;
}
/* select标签 */
.custom-select-token {
    color: aliceblue;
    border-radius: 50px;
    width: 100%;
    background-color: rgb(18, 19, 20);
    padding: 15px 15px;

}
/* 所有a标签 */
.nav-link {
    color: rgb(156, 161, 175) !important;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin-left:10px ;
}
/* a的父节点li标签 */
.nav-item {
    margin: 10px 0px !important;
    height: 40px;
    width:100%;
    padding:0px 10px;
    
}
/* 当前活跃a标签 */
li .active {
    background-color: rgb(18, 19, 20) !important;
    color: rgb(139, 153, 255) !important;
    font-size: 20px;
    height: 100%;
    margin-left: auto!important;
    
}
/* 标签的svg箭头图标 */
.nav-arrow {
    display: none;
    vertical-align: middle;
    margin-left: 12px;
    fill: rgb(139, 153, 255) !important;
    height: 20px!important;
    width: 20px!important;
}
/* 活跃标签的svg箭头图标 */
.active .nav-arrow {
    display: inline;
margin-left:auto;
    margin-right: 0px;
}



/* 活跃svg图标 */
.active svg {
    width: 40px !important;
    fill: rgb(139, 153, 255) !important;
}
/* 所有svg图标 */
.col-bar .nav-link svg {
    width: 18px;
    height: auto;
    fill: rgb(156, 161, 175);
    /* 统一设置SVG颜色 */

}

.search-bar {
    background-color: rgb(13, 13, 13);
    border: 1px solid rgb(27, 28, 31);
    color: rgb(252, 250, 250);
    outline: none;
    padding-left:40px!important;
}

.search-bar::placeholder {
    color: white;
}
.col-md-2{
padding:0px !important;}
.search-wrapper svg {
    position: absolute;
    margin-left: 15px;
    margin-top: 12px;
    pointer-events: none;
}


.search-bar:focus {
    border-color: rgb(58, 146, 246) !important;
}